/*Crea los estilos para el loader*/
.loader {
  border: 12px solid rgb(2, 26, 80);
  border-radius: 50%;
  border-top: 12px solid rgb(150, 150, 2);
  width: 45px;
  height: 45px;
  animation: spin 1.2s linear infinite;
  margin: 0 auto;
  margin-top: 20%;
}
/*/Make the loader spin*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
