@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  :root {
    --primary: 224, 95%, 16%;
    --secondary:60, 97%, 30%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.main-navbar {
  position: fixed;
  height: 75px;
  background-color: rgb(2, 26, 80);
  width: 100%;
  color: rgb(150, 150, 2);
  padding: 5px 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -10px;
  left: 0;
  right: 0;
  z-index: 4;
  border-radius: 3px;
}
.logo {
  border-radius: 3px;
  padding: 3px 9px;
  background-color: rgb(150, 150, 2);
  color: rgb(2, 26, 80);
  font-weight: 900;
  font-size: 1.3em;
}
.platform {
  font-weight: 600;
  width: 70%;
}
.wrapper {
  flex: 1 1 auto;
  position: relative;

  padding: 2rem;
  overflow: auto;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
    --chart-6: 220 2% 90%;
    --chart-7: 220 60% 45%;
    --chart-8: 220 50% 50%;
    --chart-9: 220 40% 55%;
    --chart-10: 220 30% 60%;
    --chart-11: 220 20% 65%;
    --chart-12: 220 10% 70%;
    --chart-13: 220 5% 75%;
    --chart-14: 220 4% 80%;
    --chart-15: 220 3% 85%;
    --chart-16:  220 70% 50% ;
    --chart-17: 220 1% 95%;
    --chart-18: 220 5% 40%;
    --chart-19: 220 4% 35%;
    --chart-20: 220 3% 30%;
    --chart-21: 220 2% 25%;
    --chart-22: 220 1% 20%;
    --chart-23: 220 5% 15%;
    --chart-24: 220 4% 10%;
    --chart-25: 220 3% 5%;
    --chart-26: 220 2% 3%;
    --chart-27: 220 1% 2%;
    --chart-28: 220 6% 1%;
    --chart-29: 220 1% 0.5%;
    --chart-30: 220 3% 0.2%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
